---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: /images/bgimages/bg002.jpg
---

<section class="hero" style="background-image: url({% if page.top_image %}{% include relative-src.html src=page.top_image %}{% else %}{% include relative-src.html src=page.image %}{% endif %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">C4Y is OPEN!</h1>
			<p class="subtext editable">さまざまな専門分野を持った仲間と一緒に活動しませんか？</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2>Code for YOKOHAMAとは</h2>
		<div>
			<p>Code for YOKOHAMA は横浜を拠点に活動するシビックテック団体です。
				シビックテックとは、市民によるテクノロジーを活用した社会貢献活動の総称です。
				コアメンバーにはIT企業の経営者、エンジニア、コンサルタント、学生等が所属しており、
				2015年2月の発足以来、勉強会やイベントの企画実施、横浜市や他団体との連携事業、
				横浜市へのIT施策の提言やアドバイスなどの活動を展開しています。
				<br />
				Code for YOKOHAMAでは、地域の役に立つ内容であれば幅広い分野で
				デジタル技術の活用に関する相談を受け付けております。
			</p>
		</div>

		<h2 style="margin-top:2em;">分科会・プロジェクト</h2>
		<div class="about_contents">
			<p>Code for YOKOHAMAでは、特定のテーマについてディスカッションするための「分科会」や、実際に手を動かして進める「プロジェクト」という形で、外部の組織とも連携しながらさまざまな活動を行っています。
				<br/>定例会とは別に、分科会やプロジェクトごとに不定期でミーティングが開かれています。Code for YOKOHAMAの専用Slackチャンネルからご参加頂くことができます。</p>
			<h3>主な分科会</h3>
			<h4>アーバンマネージメント</h4>
			<p>横浜市に対するICTに関する政策提言のとりまとめのほか、データやIT技術を活かしたアーバンマネージメントについて研究、実践しています。</p>
			<h4>マイクロ・アナリシス</h4>
			<p>地域のデータ分析を実践しています。現在は、横浜市とも協力しながら公立小中学校の統廃合後の利活用法をテーマとした具体的検討を進めています。</p>
			<h4>テック勉強会</h4>
			<p>話題の技術や、メンバーが興味を持っている技術など自由に題材を決めて、どなたでもご参加頂けるオープンな勉強会として実施しています。</p>
			<h4>XR研究会</h4>
			<p>横浜市新市庁舎のVR化、みなとみらいのVR化プロジェクトを実施しました。3DやVRを用いたデータの可視化や分析にも挑戦します。</p>
		</div>
		
		<!-- Speaker Deckのスライド埋め込み https://speakerdeck.com/c4yokohama -->
		<script async class="speakerdeck-embed" data-id="c51fe738fb844b2aa1c03c8f2a37869c" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

	<h2 style="margin-top:2em;">初めて参加される方へ</h2>
		<div>
			<h3>Slackに参加しよう！</h3>
			<p>Code for YOKOHAMAの主なコミュニケーションツールはSlackです。まずは、Slackに参加してみましょう。
				<br />プロジェクトごとに専用のチャンネルがあります。
			</p>

     		 <div class="button" style="margin-bottom:4em;"><a href="https://join.slack.com/t/code4yokohama/shared_invite/zt-e63peaf8-AIxGiecu5IgR2DHAiv~c~g">Slackに参加する</a></div>

			<h3>イベントに参加しよう！</h3>
			<p>Code for YOKOHAMAでは月に1度の定例会や、特定のテーマについて深掘りしてディスカッションするための分科会、
				新しい技術について学ぶ勉強会などを開催しています。
				<br />イベントの予定は主にSlackでお知らせしています。
				<br />最近はオンライン開催がメインとなっていますので、どなたもお気軽にご参加ください。
			</p>

			<h3>プロジェクトに参加しよう！</h3>
			<p>Code for YOKOAHAMAではメンバーによる提案や外部からのご依頼を受け、複数のプロジェクトが同時進行しています。
				<br />興味のある活動を見つけたら、ぜひ参加してみてください。
				<br />新たなプロジェクトのご提案も歓迎いたします！
			</p>
			<div class="button" style="margin-bottom:4em;"><a href="/projects/">プロジェクト一覧</a></div>
		</div>

		<h2 style="margin-top:2em;">参加のステップ</h2>
		<p>Code for YOKOHAMAではさまざまな参加のスタイルを用意しています。
			<br />気が向いた時にイベントのみ参加することもできますし、興味のある分科会・プロジェクトや運営に深く関わることもできます。
			<br />メンバー同士の円滑なコミュニケーションと活動しやすい場づくりのために、以下の3つのメンバー区分を設けています
		</p>

		<hr>

		<h3>エントリーメンバー</h3>
			<p>YOKOHAMAのコミュニティにご参加頂いた方は、まずエントリーメンバーとなります。
				<br />以下の要件のいずれかをクリアすると、エントリーメンバーになることができます。</p>
			<ul>
				<li> イベントへの参加（Code for YOKOHAMAが主催する定例会、分科会、勉強会など）</li>
				<li> Slackへの参加</li>
			</ul>

		<hr>

		<h3>アクティブメンバー</h3>
		<p>より活動に深く関わって頂ける方は、アクティブメンバーとなります。
			<br />エントリーメンバーの要件に加え、以下の要件の全てをクリアすると、アクティブメンバーになることができます。</p>
		<ul>
			<li> 分科会またはプロジェクトのSlackチャンネルへの参加</li>
			<li> 分科会またはプロジェクトのMTGへの参加</li>
		</ul>
		<h4>特典</h4>
		<ul>
			<li> Code for YOKOHAMAの公式Webサイトにメンバーとして名前を掲載することができます。</li>
		</ul>

		<hr>

		<h3>コアメンバー</h3>
		<p>コアメンバーは、Code for YOKOHAMAの運営に関与することができるメンバーです。
			<br />アクティブメンバーの中から、以下のいずれかの方法で承認されると、コアメンバーとなります。</p>
		<ol>
    		<li>代表がコアメンバーを推薦</li>
			<li>コアメンバーがアクティブメンバーをコアメンバーとして推薦</li>
		</ol>
		<p>毎年度初回のコアメンバーMTGで継続の意思を確認します。</p>

		<h4>特典</h4>
		<p>アクティブメンバーの特典に加え、以下の特典があります。</p>

		<ul>
			<li>コアメンバーMTG（C4Yの運営の意思決定の場）に参加することができます</li>
			<li>新規分科会及び新規プロジェクトを設置することができます</li>
			<li>CxO: チーフ・{自分の得意なもの}・オフィサーを名乗ることができます（※任意）</li>
		</ul>
		
		<hr>

		<h3>用語定義</h3>
		<p>分科会：特定のテーマに沿ってディスカッションする集まり
			<br />プロジェクト：メンバーによる提案で立ち上げたり、外部からの依頼を受けてスタートする形で、具体的に手を動かして進めるプロジェクト
		</p>

		<h2 style="margin-top:2em;">Members</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		{% assign core_members = site.staff_members | where_exp: "item", "item.type=='core'" %}
		{% if core_members.size != 0 %}
		<h3>コアメンバー</h3>
		<ul class="staff">
			{% for person in core_members %}
				<li>
					{% include person.html person=person %}
				</li>
			{% endfor %}
		</ul>
		<h3>アクティブメンバー</h3>
		{% endif %}
		<ul class="staff">
			{% assign active_members = site.staff_members | where_exp: "item", "item.type!='core'" %}
			{% for person in active_members %}
				<li>
					{% include person.html person=person %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
