---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: /images/bgimages/bg002.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">C4Y is open!</h1>
			<p class="subtext editable">We have an extremely talented team.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2>est. Feb, 2015</h2>
		<div>
			<p>Code for YOKOHAMA は横浜を拠点に活動するシビックテック団体です。シビックテックとは、ITスキルを備えた市民による社会貢献活動の総称です。コアメンバーにはIT企業の経営者、エンジニア、コンサルタント、学生等が所属しており、2015年2月の発足以来、勉強会やイベントの企画実施、横浜市や他団体との連携事業、横浜市へのIT施策の提言やアドバイスなどの活動を展開しています。<br />Code for YOKOHAMAでは地域の役に立つ事案であれば、デジタル技術を活用に関する相談を常時受け付けています。</p>
		</div>

		<h2 style="margin-top:2em;">Join us!</h2>
		<div>
			<h3>定例会に参加しよう！</h3>
			<p>定例会では各プロジェクトの進捗報告やゲストによるトーク勉強会など、月一度の頻度で開催しています。最近はオンライン開催が定着しました。</p>

			<h3>プロジェクトに参加しよう！</h3>
			<p>Code for YOKOAHAMではいくつものプロジェクトが同時進行しています。興味のある活動を見つけたら、遠慮無く参加してください。<br />新たなプロジェクトの提案も歓迎しています！</p>
			<div class="button" style="margin-bottom:4em;"><a href="./projects/">プロジェクト一覧</a></div>

			<h3>Slackに参加しよう！</h3>
			<p>Code for YOKOHAMAの主なコミュニケーションツールはSlackです。まずは、Slackに参加してみましょう。<br />プロジェクトごとに専用のチャンネルがあります。</p>
		</div>

		<div class="button" style="margin-bottom:4em;"><a href="https://join.slack.com/t/code4yokohama/shared_invite/zt-e63peaf8-AIxGiecu5IgR2DHAiv~c~g">Slackに参加する</a></div>

		<h2 style="margin-top:2em;">Members</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">
						{{ person.name }}
					</div>
					<div class="social">
						{% if person.twitter_url != null %}
							<a target="_blank" href="{% include relative-src.html src=person.twitter_url %}" class="twitter-icon">
								{% include social-icon.html icon='Twitter' %}
							</a>
						{% endif %}
						{% if person.facebook_url != null %}
							<a target="_blank" href="{% include relative-src.html src=person.facebook_url %}" class="facebook-icon">
								{% include social-icon.html icon='Facebook' %}
							</a>
						{% endif %}
						{% if person.github_url != null %}
							<a target="_blank" href="{% include relative-src.html src=person.github_url %}" class="github-icon">
								{% include social-icon.html icon='GitHub' %}
							</a>
						{% endif %}
					</div>
					<div class="position">{{ person.position }}</div>
					<div class="blurb">{{ person.blurb }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
